@model List<Product>

@{
}

@functions {
    public string GetStarRating(double averageReview) {
        string starRating = "";
        for (int i = 1; i <= averageReview; i++) {
            starRating += "⭐";
        }
        return starRating;
    }
}

<h2>Lista produktów</h2>
<div class="d-flex flex-wrap">
    
@foreach (var product in Model)
{
    <div class="card card-body m-1">
        <h3 class="card-title">@product.Name</h3>
        <p class="card-text">@product.Description</p>
        <p title="@product.AverageReview.ToString("0.00")">@GetStarRating(product.AverageReview) (@product.ReviewCount)</p>
        <p>Cena: @product.Price</p>
        <form asp-controller="Cart" asp-action="AddToCart" method="post" class="d-inline-block">
            <input type="hidden" name="productId" value="@product.Id" />
            <input class="form-control" type="number" name="quantity" value="1" min="1" max="10" step="1" />
            <input class="form-control" type="submit" value="Dodaj do koszyka" />
        </form>
    </div>
}
</div>
