@model Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>Czy chcesz usunąć produkt:</p>
<p>@Html.DisplayNameFor(model => model.Name): @Model.Name</p>
<p>@Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(x => Model.Price)</p>
<p>@Html.DisplayNameFor(model => model.Producent): @Model.Producent</p>
<p>@Html.DisplayNameFor(model => model.ProductionDate): @Model.ProductionDate</p>
<p>@Html.DisplayNameFor(model => model.Description): @Model.Description</p>

<form asp-action="Delete" asp-controller="Product" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-primary">Usuń</button>
</form>