@model Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Szczegóły produktu</h2>

<a class="btn btn-primary" asp-action="Index" asp-controller="Product">Powrót</a>

<p>@Html.DisplayNameFor(model => model.Name): @Model.Name</p>
<p>@Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(x => Model.Price)</p>
<p>@Html.DisplayNameFor(model => model.Producent): @Model.Producent</p>
<p>@Html.DisplayNameFor(model => model.Category.Name): @Model.Category.Name</p>
<p>@Html.DisplayNameFor(model => model.ProductionDate): @Model.ProductionDate</p>
<p>@Html.DisplayNameFor(model => model.Description): @Model.Description</p>
<hr/>
<p>Recenzje:</p>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Autor</th>
        <th scope="col">Komentarz</th>
        <th scope="col">Ocena</th>
        <th scope="col">Akcje</th>
    </tr>
    </thead>
    @foreach (var review in Model.Reviews)
    {
        <tr>
            <th scope="row">@review.Id</th>
            <td>@review.User.UserName</td>
            <td>@review.Comment</td>
            <td>@review.Rating</td>
            <td>
                <a asp-action="Edit" asp-controller="Review" asp-route-id="@review.Id">Edytuj</a> |
                <a asp-action="Delete" asp-controller="Review" asp-route-id="@review.Id">Usuń</a>
            </td>
        </tr>
    }
</table>